.welcome{
    background-image: url(../assets/backgrounds/h_img.jpg);
    height: 100vh;
    background-position: right;
    background-size: cover;
    font-family: 'Roboto', sans-serif; 

}
.about us{
  font-family: 'Roboto', sans-serif; 
}
.landing{
  padding-top: 14%;
  padding-bottom: 12%;
}
#mouse{
  padding-top: 5.2%;
 
}
.service{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-position: center;
    height: 30vh;
    font-family: 'Roboto', sans-serif; 
}
#work{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-position: contain;
    font-family: 'Roboto', sans-serif; 
}

.input{
  display: inline;

}
#form input{
  width:50%;
  background-color: transparent;

}
#name{
  margin-left: 12%;
  color :white;

}
#email{
  margin-left:30%;
  color: white;
}
input #name{
    width: 60%;
}
#form textarea{
  background-color: transparent;
  color: white;
}
#email::placeholder{
  color: white;
}

#name::placeholder{
  color: white;
}
textarea::placeholder{
  color: white;
}

#design{
    display: none;
}
#development{
    display: none;
}
#product{
    display: none;
}
.col-md-6{
    width: 30;
}
.work-1 .work-2 .work-3 .work-4{
  position: relative;
}
.work-5 .work-6 .work-7 .work-8{
  position: relative;
}

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
#text1 #text2 #text3 #text4{
  display: none;
}#text5 #text6 #text7 #text8{
  display: none;
}

.overlay{
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 90%;
  
  

}

 
  .text {
    position: absolute;
    background-color: rgba(49, 42, 46, 0.329);
    margin-top: 35px;
    padding-top: 30px;
    padding-left: 90px !important;
    color: white;
    display: none;
    width: 16%;
    height: 20%;
    border: 2px solid white;
    
  }
  #text5 #text6 #text7 #text8{
    position: absolute;
    background-color: rgba(153, 51, 102, 0.144);
    margin-top: 60px;
    padding-top: 40px;
    padding-left: 40px;
    color: white;

  }

  .img .text {
    display: none;
    opacity: 1;
    background-color:rgba(255, 255, 255, 0.6);
    width: auto;
    position: absolute;
    bottom: 0;
    color: deepskyblue;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    height: 100%;
}
.textarea{
  padding-left: 24%;
}
input::placeholder {
  color: white;
}
input{
  color: white;
}
  
  